body {
    background: #0f172a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    text-align: center;
}

.table {
    display: flex;
    padding: 20px;
    background: #14532d;
    border: 3px solid #d4af37;
    border-radius: 15px;
    width: fit-content;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.4);
}

.other-btn {
    display: grid;
    grid-template-columns: repeat(12, 70px);
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.table button {
    margin: 0;
    padding: 18px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid white;
}

.table .yellow {
    background: yellow;
    color: black;
    position: relative;
}

.table .red {
    background: red;
    color: white;
    position: relative;
}

.table .black {
    background: black;
    color: white;
    position: relative;
}

.table button:hover {
    transform: scale(1.08);
}

.zero button {
    height: stretch;
    background: green;
    color: white;
    margin: 20px 0;
    position: relative;
}

.zero button:hover {
    transform: none;
}

.chips {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.chips button {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 4px dashed white;
    font-size: 18px;
    font-weight: bold;
    background: #f59e0b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chips button:hover {
    transform: rotate(10deg) scale(1.1);
}

.chips .yellow {
    background: yellow;
    color: black;
    border: 4px dashed black;
}

.bets {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    justify-content: center;
    gap: 12px;
    margin: 20px auto;
}

.bets button {
    padding: 12px 20px;
    border-radius: 8px;
    background: #1e40af;
    color: white;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

.bets button:hover {
    background: #2563eb;
    transform: translateY(-3px);
}

.button-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}

button {
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background: #16a34a;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

.players input {
    height: 40px;
    width: 50px;
    border-radius: 10px;
    border: 3px solid white;
    background: #20335e;
    color: white;
    font-size: 20px;
    text-align: center;
}

.input-button {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.selected {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

h2 {
    color: #facc15;
}

.result {
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
}

.message {
    margin-top: 10px;
    font-size: 20px;
    color: #38bdf8;
}

.spin-clear {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}

.spin-win {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 300px;
}

.amount-players {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 7px;
    gap: 240px;
}

.casino-btn {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
}

.players-balance {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.player-cards {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.player-cards button {
    padding: 6px 6px;
}

.player-card {
    border-radius: 28px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 3px solid #42ff64;
    background: #07122b;
    height: 280px;
    box-sizing: border-box;
    position: relative;
}

.player-card::-webkit-scrollbar {
    width: 6px;
}

.player-card::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 28px;
    margin: 18px 0;
}

.player-card::-webkit-scrollbar-thumb {
    background: #42ff64;
    border-radius: 999px;
    border: 2px solid #07122b;
}

.player-card::-webkit-scrollbar-thumb:hover {
    background: #6dff86;
}

.active-player {
    border: 3px solid #ffe600;
}

.player-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px;
}

.player-info {
    display: flex;
    gap: 15px;
}

.player-info h3 {
    color: #42ff64;
    margin-bottom: 10px;
    margin-top: 0px;
}

.player-info p {
    color: white;
    margin: 4px 0;
    font-size: 17px;
}

.bid-container {
    margin: 0 3px 4px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.bid-container h3 {
    color: white;
    margin-bottom: 18px;
}

.bid-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.bid-left {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 8px;
    flex-wrap: wrap;
}

.bet-chip {
    color: #ffe600;
    font-weight: bold;
    font-size: 18px;
}

.bet-text {
    color: white;
}

.bid-right {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    padding: 3px;
}

.cancel-btn {
    border: none;
    background: #ff2d2d;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.cancel-btn:hover {
    background: #ff0000;
    transform: scale(1.05);
}

.total-bid {
    position: sticky;
    bottom: 0;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px 12px 20px 20px;
    z-index: 10;
    margin-top: 15px;
}

.yellow-footer {
    background: #fff000;
    color: black;
}

.green-footer {
    background: #42ff64;
    color: black;
}

.preview-cards {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.preview-cards button {
    background-color: rgba(127, 71, 182, 0.15);
    color: white;
    border: 2px solid #42ff64;
    border-radius: 28px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #07122b;
    height: 280px;
    box-sizing: border-box;
    position: relative;
}

.preview-cards h3,
.preview-cards p {
    color: white;
}

.preview-bet-chip {
    color: red;
}

.preview-bid-container {
    margin: 0 3px 4px;
    border-radius: 20px;
    background: rgba(129, 124, 124, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.preview-player-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

/* Preview card: scroll*/
.preview-cards button::-webkit-scrollbar {
    width: 6px;
}

.preview-cards button::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 28px;
    margin: 18px 0;
}

.preview-cards button::-webkit-scrollbar-thumb {
    background: #42ff64;
    border-radius: 999px;
    border: 2px solid #07122b;
}

.preview-cards button::-webkit-scrollbar-thumb:hover {
    background: #6dff86;
}