body {
    background: #0f172a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    text-align: center;
}

.other-btn {
    display: grid;
    grid-template-columns: repeat(12, 70px);
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.table {
    display: flex;
    padding: 20px;
    background: #14532d;
    border: 3px solid #d4af37;
    border-radius: 15px;
    width: fit-content;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.4);
}

.tables {
    display: flex;
    justify-content: center;
}

.table .yellow {
    background-color: yellow;
    color: black;
}

.table button {
    margin: 0;
    padding: 18px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background: #b91c1c;
    cursor: pointer;
    transition: 0.2s ease;
    border: 2px solid white;
}

.zero button {
    height: stretch;
    background: green;
    color: white;
    margin: 20px 0px;
    transition: none;
}

.table .red {
    background: red;
    color: white;
}

.table .black {
    background: black;
    color: white;
}

.table button:hover {
    transform: scale(1.08);
}

.zero button:hover {
    transform: none;
}

.chips {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.chips button {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 4px dashed white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background: #f59e0b;
    color: white;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chips button:hover {
    transform: rotate(10deg) scale(1.1);
}

.bets {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    margin: 20px auto;
}

.bets button {
    padding: 12px 20px;
    flex: 0 0 25%;
    border: none;
    border-radius: 8px;
    background: #1e40af;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.bets button:hover {
    background: #2563eb;
    transform: translateY(-3px);
}

button {
    padding: 14px 28px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background: #16a34a;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #22c55e;
    transform: scale(1.05);
}

h2 {
    color: #facc15;
}

.result {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.message {
    margin-top: 10px;
    font-size: 20px;
    color: #38bdf8;
}

.selected {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.total-players button {
    background-color: #16a34a;
    color: white;
}

.total-players .yellow {
    background-color: yellow;
    color: black;
}

.total-players .green {
    background-color: #16a34a;
    color: black;
}

.player-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.players input {
    height: 40px;
    width: 50px;
    border-radius: 10px;
    border: none;
    background-color: #20335e;
    color: white;
    border: 3px solid white;
}